*.o
*.vlog
*.status
*.log
*.dylib
*.upload
*.rock
*.so
*.so.*
*.a
*.dll
*.exp
*.exe
*.sdf
*.suo
*.def
*.expm
*.lib
*.zip
*.tag.gz
*.tgz
*.cache
*.deb
*.dsc
*.build
*.changes
*.pyc
*.tags
.workspace
.dep.inc
/build-ejdb
/build
/ejdbdll
/node_modules
/configure.gypi
/var/*
/samples/sample1/zoo*
/misc
/tests/bench
/nbproject
/lib
.idea
.clang/
.codelite/
ejdb.workspace.session
compilation.db
