*.o
*.vlog
*.status
*.log
*.dylib
*.upload
*.rock
*.so
*.so.*
*.a
*.dll
*.exp
*.exe
*.sdf
*.suo
*.def
*.expm
*.lib
*.zip
*.tag.gz
*.tgz
*.cache
*.deb
*.dsc
*.build
*.changes
*.pyc
*.tags
.workspace
.dep.inc
/ejdbdll
/node_modules
/configure.gypi
/ejdb/misc
/ejdb/tools
/ejdb/tcejdb/bros
/ejdb/tcejdb/doc
/ejdb/tcejdb/mxe
/ejdb/tcejdb/i686-w64-mingw32
/ejdb/tcejdb/x86_64-w64-mingw32
/ejdb/tcejdb/tools
/ejdb/tcejdb/Makefile
/ejdb/tcejdb/libtcejdb.a
/ejdb/tcejdb/libtcejdb.so
/ejdb/tcejdb/libtcejdb.so.9
/ejdb/tcejdb/libtcejdb.so.9.11.0
/ejdb/tcejdb/tcamgr
/ejdb/tcejdb/tcamttest
/ejdb/tcejdb/tcatest
/ejdb/tcejdb/tcawmgr.cgi
/ejdb/tcejdb/tcbmgr
/ejdb/tcejdb/tcbmttest
/ejdb/tcejdb/tcbtest
/ejdb/tcejdb/tcfmgr
/ejdb/tcejdb/tcfmttest
/ejdb/tcejdb/tcftest
/ejdb/tcejdb/tchmgr
/ejdb/tcejdb/tchmttest
/ejdb/tcejdb/tchtest
/ejdb/tcejdb/tctmgr
/ejdb/tcejdb/tctmttest
/ejdb/tcejdb/tcttest
/ejdb/tcejdb/tcucodec
/ejdb/tcejdb/tcumttest
/ejdb/tcejdb/tcutest
/ejdb/tcejdb/tcejdb.pc
/ejdb/tcejdb/nbproject/private
/ejdb/tcejdb/static
/ejdb/tcejdb/check.in
/ejdb/tcejdb/check.out
/ejdb/tcejdb/casket*
/ejdb/tcejdb/samples
/ejdb/tcejdb/testejdb
/ejdb/tcejdb/debian
/var/*
/samples/sample1/zoo*
/build
/misc
/tests/bench
/nbproject
.idea
.clang/
.codelite/
ejdb.workspace.session
compilation.db
